/* CSS Demo Stylesheet */

/*                Box sizing              */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }


/*                  UTILITY CLASSES                 */


.container{
    /* Takes up 80% of page */
    width: 90vw;
    max-width: 960px;
    /* To center a block on scree use margin spaced 40px on top and botton */
    margin: 40px auto;
}

.img-right {
    float:right;
    border: 3px solid;
    padding:5px;
    margin: 10px 0 10px 20px;
    max-width:20vw;
}

.img-left {
    float:left;
    border: 3px solid;
    padding:5px;
    margin: 10px 20px 10px 0px;
    max-width:20vw;
}

.img-center {
    display:block;
    margin: 10px auto;
    border: 3px solid;
    padding:5px;
}

/*                  RESPONSIVE IMAGES                */

img{
    /* makes it not bigger than the parent*/
    max-width:100%;
}


body {
    background-color: #FFF9E3;
    font-family: "Arsenal SC", serif;
    font-weight: 400;
    font-style: normal;

    margin: 0;
}



/*main {
    width: 80vw;
    max-width: 760px
} */


header.primary{
    background: #25295E;
    color: #FFF9E3;

    text-align: center;
    text-shadow: 2px 2px #000;

    /*longform*/

    padding-top:40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;

    /* TRBL 
    padding: 20px 40px 20px 40px */

    /*single value short hand
    padding: 40px; */

    /* Two value TB ,LR 
    padding: 20px 40px; */


}

header.primary h1 {
    font-size: 3.4rem;
    /* top , LR, Bottom */
    margin: 20px 0 0;
}

header.primary h1 a{
    color:#FFF9E3;
    text-decoration:none; 
}

header.primary h2{
    font-size: 1.3rem;
    margin:0;
    letter-spacing: 2px;
}


nav.primary ul{
    padding: 0;

    /* Makes the flex box for the unordered list*/
    display:flex;

    /* places the list in a way you want. */
    flex-direction:row;

    /* How element flow in flex box intems */
    justify-content:space-around;

    max-width: 960px;
    margin: 20px auto;


}

nav.primary ul li{
    list-style-type:none;
}

/*nav that has primary class with a unorder list with a list and links */

nav.primary ul li a{
    color:#FFF9E3;
    font-size: .9rem;
    text-decoration: none;
    /* How thick , stroke */
    border: 1px solid #FFF9E3;
    padding: 6.4px 15px;
    /* Need RGB for opacity last number is for opacity*/
    background-color: rgba(0,0,0,.4);

    /* To make Round corners. TL TR BL BR*/
    border-radius:6px 14px 4px 76px;

    /* hover opacity smoother instead of immediate. */
    transition:.3s;

}

/* To make hover thing work*/
nav.primary ul li a:hover{
    background-color: rgba(0,0,0,.8);
}

/* Dont need to over quality because id is already unique */

/*#content {}*/

#content h2{
    color: #25295E;
    border-bottom: 1px solid;
}

#content h3{
    color: #25295E;
    border-left:  9px solid;
    padding: 5px 0 5px 10px;

}

#blog{

    display:flex;
    flex-direction:row;
    justify-content:center;
    gap:20px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding:40px 0px;

}

#blog article.post{
    box-shadow: 0px 4px 8px rgba(0,0,0,0.6);
    padding: 10px;
    font-size:.8rem;
    border-radius:4px;
    transition:.3s;
}

#blog article.post:hover{
    box-shadow: 0px 8px 16px rgba(0,0,0,0.6);
    
}

figure{
    margin:0;
}

figcaption, time{
    /* Makes every letter uppercase */
    text-transform:uppercase;
    font-size:.6rem;
    text-align:center;
    color: #c0c0c0;
}

#blog article.post a{
    text-decoration:none;
    
}

/* ARIA accessibility standard comments on elements role and overall content structure*/
aside[role="complementary"]{
    background-color: #332F2B;
    color: #FFF9E3;
    padding:40px 0;
}

aside .container{
    display:flex;
    flex-direction:row;
    gap:40px;
}

/* color own line right align*/

aside .container a:last-child{
    color:#FFF9E3;
    /* Makes inline act like a block*/
    display:block;
    text-align:right;
}

aside article footer{
    display:none;
}


#practice h2 {
    color:#25295E;
    border-bottom: 1px solid;
}

#practice a {
    color:#25295E;
    transition:.5s;
}



#practice a:hover{
    color:#175515ff;
    text-decoration:none;
}



table{
    width:100%;
    border-collapse:collapse;
    border: 2px solid #25295E;
}

caption{
    font-weight: bold;
    margin:10px;
    font-size:1.5rem;
}

tr:nth-child(even){
    background-color: rgba(37, 41, 94, 0.1);

}

tr:hover{
    background-color:rgba(37, 41, 94,0.2);
}

th{
    background-color: #332F2B;
    color:#FFF9E3;
    padding:7.5px;
}

td{
    border: 2px solid #25295E;
    padding:7px;

}

td:nth-child(n+2){
    text-align:right;
}

#practice ol{
    list-style-type:lower-roman;
}

#practice ul ul{
    list-style-type:square;
}


#practice dl dt{
    font-weight:strong;
}

/* you can also use nth child */
#practice dd + dt {
    margin-top:20px;
}

#practice dd{
    margin: 0;
}

#practice blockquote{
    border:4px double #25295E;
    padding: 20px 40px;
    margin: 40px 80px;
    border-radius: 30px 0;
    text-shadow:1px 1px #ececec;
}

/* smaller; right aligned; own line; space*/

#practice blockquote cite{
    display:block;
    text-align:right;
    font-size:0.5rem;
    margin-top:1rem;
}








/* media query, asks if the max is 440px;  */
@media screen and (max-width:440px) {
nav.primary ul{
    flex-direction:column;
    gap:10px;
    max-width:200px;
    margin:20px auto;
}

nav.primary ul a{
    display:block;
}

}